*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Opificio Bold-Rounded", sans-serif;
    font-size: 14px;
    color: #314438;
    display: block;

}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: rgba(192, 192, 192, 0.6);
}

body::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 20px;
    border: rgb(215, 213, 213) 3px solid;
}
.intro{
    max-width: 1920px;
    height: 300vh;
}
.header{
    position: absolute;
    width: 100%;
    height: 34px;
    border-bottom: 1px solid #c6cbc8;
    margin-right: -50%;
    z-index: 100;
}
.header__inner{
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.b{
    position: relative;
    width: 70px;
    height: 25px;
    margin: 10px 0 10px 40px;
    padding: 5px 2px;
    float: left;
    bottom: 5px;

}
.a{
    position: relative;
    width: 70px;
    height: 25px;
    margin: 10px 40px 10px 0;
    padding: 5px 2px;
    float: right;
    bottom: 5px;
}
.header__deep{
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 77px;
    left: -1px;
    border-bottom: 1px solid #c6cbc8;
    z-index: 100;
}
.logo{
    position: absolute;
    width: 100px;
    height: 50px;
    font-size: 40px;
    padding: 5px 2px;
    top: 50%;
    left: 85px;
    transform: translate(-50%, -50%);
    font-family: 'Josefin Sans', sans-serif;

}
.s__table__text{
    position: absolute;
    top: 0;
    left: 200px;
    width: 800px;
    height: 100%;
    margin-left: 15px;
    justify-content: space-between;

}
.s__text{
    position: relative;
    display: inline-block;
    top: 5px;
    padding: 26px 14px;
    text-transform: uppercase;
}
.s__butt{
    position: relative;
    width: 132px;
    height: 28px;
    color: #f3eeea;
    background: #314438;
    font-size: 12px;
    text-align: center;
    float: right;
    font-family: 'Josefin Sans', sans-serif;
    margin: 25px 40px 25px 0;
    border: 1px solid #314438;
    padding: 6px;
    transition: .3s;
}
.s__butt:hover {
    color: #314438;
    background: #f3eeea;
}
.img__unit__block{
}

.img__block{
    position: absolute;
    top: 50%;
    left: 40px;
    width: 300px;
    height: 300px;
    overflow: hidden;

}
.img{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../img/duck.jpg") center no-repeat;
    transition: 1s;
}
.img:hover{
    transform: scale(1.05);
}

.icon_basket{
    position: absolute;
    weight: 32px;
    height: 32px;
    padding-left: 93%;
    padding-top: 1.5%;
    overflow: visible;
    box-sizing: border-box;
    background: center no-repeat;
}